mixin core-btn(tag, text, className, svg)
  - if(tag == 'div') {
    .core-btn(class=className)
      span.core-btn__text= text
  - } else if(tag == 'button') {
    button.core-btn(class=className)
      span.core-btn__text= text
  - } else if(tag == 'button-icon') {
    a.core-btn(class=className)
      span.core-btn__text= text
      .core-btn__icon
        svg
          use(xlink:href=require(`../assets/svg/${svg}.svg`).url)
  - } else {
    a.core-btn(href=tag, class=className)
      span.core-btn__text= text
  - }
