.core-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: rem(50);
  padding: 0 rem(22);
  border: 0;
  border-radius: rem(30);
  background-color: #eb5f28;
  transition: 0.4s ease;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: #d83d00;
  }

  &__text {
    font-size: rem(14);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: 0.4s ease;
    letter-spacing: rem(0.6);
    user-select: none;
    white-space: nowrap;
  }

  &__icon {
    width: rem(19);
    height: rem(16);
    margin-left: rem(11);

    svg {
      fill: #fff;
      stroke: #fff;
      width: 100%;
      height: 100%;
    }
  }
}
