.dev-footer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: rem(40);

  @media (max-width: $screen-mobile) {
    padding-bottom: rem(21);
  }

  @media (max-width: $screen-mobile) {
    flex-direction: column;
  }

  &__text {
    margin-bottom: rem(10);
    font-size: rem(16);
    color: #fff;

    &--gold {
      color: #d4c2a7;
    }

    @media (max-width: $screen-mobile) {
      font-size: rem(14);
      letter-spacing: 0.6px;
    }
  }

  &__text-l {
    letter-spacing: 0.5px;
    color: #d8d8d8;
    opacity: 0.4;
    text-transform: uppercase;
    font-size: rem(10);

    @media (max-width: $screen-mobile) {
      font-size: rem(8);
    }
  }

  &__icon {
    width: rem(39);
    height: rem(23);

    svg {
      fill: #d8d8d8;
    }

    @media (max-width: $screen-mobile) {
      margin-top: rem(21);
    }
  }
}
