mixin dev-footer()
  .dev-footer.main.animation.animation--slide-up.animation--stagger
    .dev-footer__description
      p.dev-footer__text Кузнецкий мост&nbsp;
        span.dev-footer__text--gold 12
      p.dev-footer__text-l © «KR Properties» , 2018
    .dev-footer__icon
      a(href='http://blue-ant.ru/', target='_blank', rel='nofollow noopener')
        svg
          use(xlink:href=require('../assets/svg/blueant.svg').url)
