.core-logo {
  width: rem(188);
  height: rem(100);
  // border: solid 5px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: $screen-mobile) {
    width: rem(93);
    height: rem(50);
    // border-width: 3px;
    border: solid 3px rgba(255, 255, 255, 0.2);
  }

  &__icon {
    display: block;
    width: rem(138);
    // width: rem(242);
    // height: rem(60);

    @media (max-width: $screen-mobile) {
      width: rem(70);
    }
  }
}
