.h4 {
  // font-size: rem(26);
  font-size: rem(20);
  color: #fff;

  @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    font-size: rem(16);
  }

  @media (max-width: $screen-mobile) {
    font-size: rem(12);
    letter-spacing: 0.1px;
  }
}
