include ../blocks/**/*.pug
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
    title landing_km12
  body
    block content
