.dev-place {
  position: relative;
  z-index: 2;
  padding: rem(56) 0 rem(3);
  margin-top: - rem(126);

  @media (max-width: $screen-mobile) {
    border: 0;
    margin-top: - rem(20);
    padding: rem(18) 0 0;
  }

  @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    padding: rem(26) 0 rem(3);
  }

  &__border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: solid 5px rgba(80, 80, 80, 0.38);

    @media (max-width: $screen-tablet-max) and (min-width: $screen-tablet-min) {
      height: 60%;
    }

    @media (max-width: $screen-mobile) {
      left: rem(15);
      width: calc(100% - 2.25rem);
      height: calc(100% - 0.625rem);
      border: solid 3px rgba(80, 80, 80, 0.38);
    }
  }

  &__title {
    margin-bottom: rem(38);
    text-align: center;
    color: #fff;

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      margin-bottom: rem(32);
    }

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(18);
    }
  }

  &__content {
    width: calc(100% + 4.125rem);
    margin-left: - rem(33);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
      width: calc(100% + 2.5rem);
      margin-left: - rem(20);
    }

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      width: calc(100% + 2.5rem);
      margin-left: - rem(20);
    }

    @media (max-width: $screen-mobile) {
      position: relative;
      width: 100%;
      margin-left: 0;
      z-index: 5;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    width: rem(627);
    height: rem(451);
    margin-bottom: rem(24);
    overflow: hidden;

    @media (min-width: $screen-xl-min) and (max-width: $screen-xl-max) {
      width: rem(618);
    }

    @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
      width: rem(428);
      height: rem(308);
    }

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      width: rem(348);
      height: rem(242);
      margin-bottom: rem(14);
    }

    @media (max-width: $screen-mobile) {
      width: 100%;
      height: auto;
      margin-right: 0;
      margin-bottom: 0;
    }

    &--1-4 {
      width: rem(303);

      @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
        width: rem(254);
      }

      @media (min-width: $screen-xl-min) and (max-width: $screen-xl-max) {
        width: rem(294);
      }

      @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        width: rem(168);
      }

      @media (max-width: $screen-mobile) {
        width: 100%;
      }
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    background-color: #999;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
    transition: transform 0.3s ease-out;
    cursor: pointer;
    position: relative;

    &:hover {
      transform: scale(1.05);
    }

    @media (max-width: $screen-mobile) {
      height: rem(192);
      margin-bottom: rem(20);
    }

    &--1-2 {
      height: rem(212);
      margin-bottom: rem(26);

      @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
        height: rem(144);
      }

      @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        height: rem(168);
        margin-bottom: rem(14);
      }

      @media (max-width: $screen-mobile) {
        height: rem(192);
        margin-bottom: rem(20);
      }
    }

    &:last-of-type {
      @media (min-width: $screen-tablet-min) {
        margin-bottom: 0;
      }
    }
  }
}
