mixin dev-place()
  .dev-place.main
    .dev-place__border
    +h2('Роскошные резиденции', 'dev-place__title animation animation--slide-up-text')
    .dev-place__content
      .dev-place__col
        .dev-place__img.animation.animation--slide-up-opacity(style='background-image:url(' + require('../assets/images/place/place1.jpg') + ')', href=require('../assets/images/place/place1.jpg'), data-fancybox='gallery')
      .dev-place__col.dev-place__col--1-4
        .dev-place__img.animation.animation--slide-up-opacity(style='background-image:url(' + require('../assets/images/place/place2.jpg') + ')', href=require('../assets/images/place/place2.jpg'), data-fancybox='gallery')
      .dev-place__col.dev-place__col--1-4
        .dev-place__img.dev-place__img--1-2.animation.animation--slide-up-opacity(style='background-image:url(' + require('../assets/images/place/place3.jpg') + ')', href=require('../assets/images/place/place3.jpg'), data-fancybox='gallery')
        .dev-place__img.dev-place__img--1-2.animation.animation--slide-up-opacity(style='background-image:url(' + require('../assets/images/place/place4.jpg') + ')', href=require('../assets/images/place/place4.jpg'), data-fancybox='gallery')
      .dev-place__col.dev-place__col--1-4
        .dev-place__img.animation.animation--slide-up-opacity(style='background-image:url(' + require('../assets/images/place/place5.jpg') + ')', href=require('../assets/images/place/place5.jpg'), data-fancybox='gallery')
      .dev-place__col.dev-place__col--1-4
        .dev-place__img.dev-place__img--1-2.animation.animation--slide-up-opacity(style='background-image:url(' + require('../assets/images/place/place6.jpg') + ')', href=require('../assets/images/place/place6.jpg'), data-fancybox='gallery')
        .dev-place__img.dev-place__img--1-2.animation.animation--slide-up-opacity(style='background-image:url(' + require('../assets/images/place/place7.jpg') + ')', href=require('../assets/images/place/place7.jpg'), data-fancybox='gallery')
      .dev-place__col
        .dev-place__img.animation.animation--slide-up-opacity(style='background-image:url(' + require('../assets/images/place/place8.jpg') + ')', href=require('../assets/images/place/place8.jpg'), data-fancybox='gallery')
