mixin dev-docs()
  .dev-docs
    .dev-docs__background(style='background-image:url(' + require('../assets/images/place5_blur.jpg') + ')')
    .dev-docs__content
      +core-logo('dev-docs__logo animation animation--slide-up-opacity')
      +h1('Проектная декларация', 'dev-docs__title animation animation--slide-up-text')
      .dev-docs__items.main
        .dev-docs__item.animation.animation--slide-up
          .dev-docs__img-wrap
            svg.dev-docs__icon
              use(xlink:href=require('../assets/svg/doc.svg').url)
          .dev-docs__description-wrap
            .dev-docs__description
              .h3.dev-docs__name Проектная декларация дома
                span  Кузнецкий мост 12
            .dev-docs__links
              a.text.dev-docs__link(download)
                span.dev-docs__link--doc PDF
                span  – 1.2 mb
              a.text.dev-docs__link(download)
                span.dev-docs__link--doc DOC
                span  – 120.6 kb
        .dev-docs__item.animation.animation--slide-up
          .dev-docs__img-wrap
            svg.dev-docs__icon
              use(xlink:href=require('../assets/svg/doc.svg').url)
          .dev-docs__description-wrap
            .dev-docs__description
              .h3.dev-docs__name Генеральный договор страхования с
                span ООО «Страховой»
            .dev-docs__links
              a.text.dev-docs__link(download)
                span.dev-docs__link--doc PDF
                span  – 1.2 mb
              a.text.dev-docs__link(download)
                span.dev-docs__link--doc DOC
                span  – 120.6 kb
        .dev-docs__item.animation.animation--slide-up
          .dev-docs__img-wrap
            svg.dev-docs__icon
              use(xlink:href=require('../assets/svg/doc.svg').url)
          .dev-docs__description-wrap
            .dev-docs__description
              .h3.dev-docs__name Заключение о соответствии застройщика требованиям
                br
                span ФЗ № 214-ФЗ
            .dev-docs__links
              a.text.dev-docs__link(download)
                span.dev-docs__link--doc PDF
                span  – 1.2 mb
              a.text.dev-docs__link(download)
                span.dev-docs__link--doc DOC
                span  – 120.6 kb
  +dev-navd('dev-docs__nav')
  +dev-footer()
