.dev-docs {
  position: relative;
  padding-bottom: rem(38);

  @media (max-width: $screen-mobile) {
    padding-bottom: rem(30);
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(1026);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: $screen-mobile) {
      height: rem(453);
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(4, 12, 21, 0), #040c15);
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(60);
    padding-bottom: rem(30);
    z-index: 1;

    @media (max-width: $screen-mobile) {
      padding-top: rem(40);
      padding-bottom: rem(30);
    }
  }

  &__logo {
    margin-bottom: rem(80);

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(32);
    }
  }

  &__title {
    margin-bottom: rem(80);

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      font-size: rem(48);
    }

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(40);
    }
  }

  &__items {
    @media (min-width: $screen-tablet-min) {
      width: rem(600);
    }
  }

  &__item {
    width: 100%;
    margin-bottom: rem(45);
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(26);
    }
  }

  &__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(140);
    height: rem(170);
    border: solid 5px rgba(255, 255, 255, 0.38);

    @media (max-width: $screen-mobile) {
      width: rem(66);
      height: auto;
      min-height: rem(80);
      border-width: 3px;
      margin-bottom: 0;
    }
  }

  &__icon {
    display: block;
    width: rem(100);
    height: rem(130);

    @media (max-width: $screen-mobile) {
      width: rem(47);
      height: rem(61);
    }
  }

  &__description-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: rem(430);
    padding: rem(16) 5% rem(12) 0;

    @media (max-width: $screen-mobile) {
      width: calc(100% - 4.25rem);
      padding: rem(6) 0 rem(5) rem(8);
    }
  }

  &__name {
    margin-bottom: rem(14);

    @media (max-width: $screen-mobile) {
      line-height: 1.2;
    }
  }

  &__text {
    max-height: rem(75);
    margin-bottom: rem(26);
    overflow: hidden;

    @media (max-width: $screen-mobile) {
      max-height: inherit;
      margin-bottom: rem(10);
    }
  }

  &__link {
    display: inline-block;
    margin-right: rem(20);
    font-family: "BodoniC", "Roboto", sans-serif;
    letter-spacing: 0.5px;
    color: #fff;

    @media (max-width: $screen-mobile) {
      font-size: rem(10);
    }

    &--doc {
      color: #d4c2a7;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__nav {
    position: relative;
    z-index: 1;
    margin-bottom: rem(42);

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(21);
    }
  }
}
