.h2 {
  font-size: rem(36);
  line-height: 1;
  letter-spacing: 0.4px;
  color: #fff;

  @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    font-size: rem(26);
  }

  @media (max-width: $screen-mobile) {
    font-size: rem(18);
  }

  &--gold {
    color: #d4c2a7;
  }
}
