mixin dev-build()
  .dev-build
    .dev-build__background
    .dev-build__content
      +core-logo('dev-build__logo animation animation--slide-up-opacity')
      +h1('Ход строительства', 'dev-build__title animation animation--slide-up-text')
      a.dev-build__back(href='/', onclick='history.back();')
        .dev-build__back-icon-wrp.animation.animation--slide-right-opacity
          svg.dev-build__back-icon
            use(xlink:href=require('../assets/svg/arrow_hover.svg').url)
        p.dev-build__back-text.animation.animation--slide-up-text вернуться к выбору
      .dev-build__slider.dev-build__slider--main.swiper-container.animation.animation--slide-up
        .swiper-wrapper
          a.dev-build__slide.swiper-slide(href='/build-detail.html')
            .dev-build__img(style='background-image:url(' + require('../assets/images/place/place1.jpg') + ')')
            .dev-build__description
              .h3.dev-build__name Март
                span  2018
              .dev-build__text-wrap
              p.dev-build__text.text Фото -
                span  45
          a.dev-build__slide.dev-build__slide--1-2.swiper-slide(href='/build-detail.html')
            .dev-build__img(style='background-image:url(' + require('../assets/images/place/place1.jpg') + ')')
            .dev-build__description
              .h3.dev-build__name Февраль
                span  2018
              .dev-build__text-wrap
                p.dev-build__text.text Фото -
                  span  43
                p.dev-build__text.text Видео -
                  span  2
          a.dev-build__slide.dev-build__slide--1-2.swiper-slide(href='/build-detail.html')
            .dev-build__img(style='background-image:url(' + require('../assets/images/place/place1.jpg') + ')')
            .dev-build__description
              .h3.dev-build__name Январь
                span  2018
              .dev-build__text-wrap
                p.dev-build__text.text Фото -
                  span  45
          a.dev-build__slide.swiper-slide(href='/build-detail.html')
            .dev-build__img(style='background-image:url(' + require('../assets/images/place/place1.jpg') + ')')
            .dev-build__description
              .h3.dev-build__name Март
                span  2018
              .dev-build__text-wrap
              p.dev-build__text.text Фото -
                span  45
          a.dev-build__slide.swiper-slide
            .dev-build__img(style='background-image:url(' + require('../assets/images/place/place1.jpg') + ')')
            .dev-build__description
              .h3.dev-build__name Февраль
                span  2018
              .dev-build__text-wrap
                p.dev-build__text.text Фото -
                  span  43
                p.dev-build__text.text Видео -
                  span  2
          a.dev-build__slide.dev-build__slide--1-2.swiper-slide(href='/build-detail.html')
            .dev-build__img(style='background-image:url(' + require('../assets/images/place/place1.jpg') + ')')
            .dev-build__description
              .h3.dev-build__name Январь
                span  2018
              .dev-build__text-wrap
                p.dev-build__text.text Фото -
                  span  45
        .dev-build__scrollbar-wrap
          .dev-build__scrollbar
  +dev-nav('dev-build__nav', 0)
  +dev-footer()
