mixin dev-build-d()
  .dev-build
    .dev-build__background
    .dev-build__content
      +core-logo('dev-build__logo animation animation--slide-up')
      +h1('Ход строительства', 'dev-build__title animation animation--slide-up-text')
      a.dev-build__back(href='/build.html')
        .dev-build__back-icon-wrp.animation.animation--slide-right-opacity
          svg.dev-build__back-icon
            use(xlink:href=require('../assets/svg/arrow_hover.svg').url)
        p.dev-build__back-text.animation.animation--slide-up-text вернуться к выбору
      .dev-build__slider.dev-build__slider--detail.swiper-container.animation.animation--slide-up
        .swiper-wrapper
          a.dev-build__slide.swiper-slide(href=require('../assets/images/place/place1.jpg'))&attributes({'data-fancybox':'images', 'data-caption':'Описание №1'})
            .dev-build__img(style='background-image:url(' + require('../assets/images/place/place1.jpg') + ')')
            .dev-build__description
              .h3.dev-build__name Реставрация первого этажа
              .dev-build__text-wrap
                p.dev-build__text.text загрузил -
                  span  Котелков В.А. 18:30  21.05.2018
          a.dev-build__slide.swiper-slide(href=require('../assets/images/place/place1.jpg'))&attributes({'data-fancybox':'images', 'data-caption':'Описание №1'})
            .dev-build__img(style='background-image:url(' + require('../assets/images/place/place1.jpg') + ')')
            .dev-build__description
              .h3.dev-build__name Реставрация второго этажа
              .dev-build__text-wrap
                p.dev-build__text.text загрузил -
                  span  Котелков В.А. 18:30  21.05.2018
          a.dev-build__slide.swiper-slide(href=require('../assets/images/place/place1.jpg'))&attributes({'data-fancybox':'images', 'data-caption':'Описание №1'})
            .dev-build__img(style='background-image:url(' + require('../assets/images/place/place1.jpg') + ')')
            .dev-build__description
              .h3.dev-build__name Реставрация третьего этажа
              .dev-build__text-wrap
                p.dev-build__text.text загрузил -
                  span  Котелков В.А. 18:30  21.05.2018
        .dev-build__scrollbar-wrap
          .dev-build__scrollbar
  +dev-nav('dev-build__nav')
  +dev-footer()
