.h3 {
  font-size: rem(26);
  line-height: 1;
  letter-spacing: 0.2px;
  color: #fff;

  @media (max-width: $screen-mobile) {
    font-size: rem(16);
    line-height: 1.63;
    letter-spacing: 0.1px;
  }

  span,
  &--gold {
    color: #d4c2a7;
  }
}
