mixin dev-description()
  .dev-description
    .dev-description__content.main
      +core-logo('dev-description__logo animation animation--slide-up-opacity')
      .dev-description__description
        +h2('До официального открытия', 'dev-description__title animation animation--slide-up-text')
        +h2('продаж на все апартаменты действует', 'dev-description__title animation animation--slide-up-text')
        +h2('специальная цена', 'h2--gold dev-description__title animation animation--slide-up-text')
        .dev-description__square.dev-description__square--d.animation.animation--slide-up-opacity
      .dev-description__phone-wrap
        +h4('Телефон отдела продаж:', 'dev-description__phone-title animation animation--slide-up-text')
        a.dev-description__phone.animation.animation--slide-up-text(href='tel:+74957775566') + 7 495 777-55-66
      .dev-description__squares.animation.animation--slide-up-opacity.animation--stagger
        .dev-description__square.dev-description__square--1
        .dev-description__square.dev-description__square--2
        .dev-description__square.dev-description__square--3
  +dev-nav('dev-description__nav')
  +dev-footer()
