.dev-description {
  padding-top: rem(128);
  padding-bottom: rem(40);

  @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    padding-top: rem(70);
    padding-bottom: rem(40);
  }

  @media (max-width: $screen-mobile) {
    padding-top: rem(27);
    padding-bottom: rem(40);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: rem(66);

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      padding-bottom: rem(62);
    }

    @media (max-width: $screen-mobile) {
      padding-bottom: rem(59);
    }
  }

  &__logo {
    margin-bottom: rem(102);

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      margin-bottom: rem(110);
    }
  }

  &__description {
    position: relative;
    margin-bottom: rem(81);

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      margin-bottom: rem(106);
    }

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(45);
    }
  }

  &__title {
    margin-bottom: rem(4);
    text-align: center;

    @media (max-width: $screen-mobile) {
      white-space: nowrap;
    }
  }

  &__square {
    position: absolute;
    border: solid 5px rgba(80, 80, 80, 0.38);

    @media (max-width: $screen-mobile) {
      border-width: 3px;
    }

    &--1 {
      top: - rem(23);
      right: 33.4%;
      width: rem(23);
      height: rem(22);
      transform: translate(0, -1.4375rem);

      @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        top: - rem(18);
        right: 29.2%;
        width: rem(24);
        height: rem(24);
        transform: translate(0, -1.125rem);
      }

      @media (max-width: $screen-mobile) {
        top: - rem(15);
        right: 20.8%;
        width: rem(14);
        height: rem(14);
        transform: translate(0, -0.9375rem);
      }
    }

    &--2 {
      top: rem(30);
      right: 7.5%;
      width: rem(50);
      height: rem(31);
      transform: translate(0, 1.875rem);

      @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        top: rem(40);
        right: 5.5%;
        width: rem(30);
        height: rem(19);
        transform: translate(0, 2.5rem);
      }

      @media (max-width: $screen-mobile) {
        top: rem(66);
        right: 1%;
        width: rem(30);
        height: rem(18);
        transform: translate(0, 4.125rem);
      }
    }

    &--3 {
      top: rem(138);
      left: 14.1%;
      width: rem(23);
      height: rem(37);
      transform: translate(0, 8.625rem);

      @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        top: rem(104);
        left: 12.4%;
        width: rem(14);
        height: rem(22);
        transform: translate(0, 6.5rem);
      }

      @media (max-width: $screen-mobile) {
        top: rem(69);
        left: 3.7%;
        width: rem(14);
        height: rem(22);
        transform: translate(0, 4.3125rem);
      }
    }

    &--d {
      top: - rem(16);
      left: 50%;
      transform: translate(-50%, -1rem);
      width: rem(68);
      height: rem(147);

      @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        top: - rem(28);
        width: rem(40);
        height: rem(149);
        transform: translate(0, -1.75rem);
      }

      @media (max-width: $screen-mobile) {
        top: - rem(16);
        width: rem(40);
        height: rem(98);
        transform: translate(0, -1rem);
      }
    }
  }

  &__phone-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__phone-title {
    margin-bottom: rem(8);

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      margin-bottom: rem(18);
    }

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(11);
    }
  }

  &__phone {
    font-size: rem(36);
    color: #d4c2a7;

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      font-size: rem(26);
    }

    @media (max-width: $screen-mobile) {
      font-size: rem(18);
    }
  }

  &__nav {
    position: relative;
    z-index: 1;
    margin-bottom: rem(42);

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(21);
    }
  }
}
