.dev-banner {
  height: 100vh;
  background-image: linear-gradient(to top, rgba(4, 12, 21, 0.2), rgba(4, 12, 21, 0));

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: rem(94);
    background-image: url(./assets/images/home_banner.jpg);
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      padding-top: rem(98);
    }

    @media (max-width: $screen-mobile) {
      padding-top: rem(36);
    }
  }

  &__logo {
    position: absolute;
    top: rem(60);
    left: 50%;
    transform: translate(-50%, 3.75rem);

    @media (max-width: $screen-mobile) {
      top: rem(40);
      transform: translate(-50%, 2.5rem);
    }
  }

  &__title {
    line-height: 1.2;
    text-transform: uppercase;

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(4);
    }
  }

  &__year {
    display: flex;
    align-items: center;
    margin-top: rem(30);
    line-height: 1.2;
    text-transform: uppercase;

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      margin-top: rem(14);
    }

    @media (max-width: $screen-mobile) {
      margin-top: rem(14);
    }

    &::before,
    &::after {
      content: '';
      display: inline-block;
      width: rem(16);
      height: rem(16);
      margin-bottom: rem(4);
      border-radius: 50%;
      background-color: #d4c2a7;

      @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        width: rem(12);
        height: rem(12);
        margin-bottom: rem(2);
      }

      @media (max-width: $screen-mobile) {
        width: rem(6);
        height: rem(6);
        margin-bottom: rem(2);
      }
    }

    &::before {
      margin-right: rem(32);

      @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        margin-right: rem(24);
      }

      @media (max-width: $screen-mobile) {
        margin-right: rem(10);
      }
    }

    &::after {
      margin-left: rem(32);

      @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        margin-left: rem(24);
      }

      @media (max-width: $screen-mobile) {
        margin-left: rem(10);
      }
    }
  }

  &__scroll-icon {
    display: block;
    fill: #cec1a7;
    width: 100%;
    height: 100%;
    stroke: #cec1a7;
  }

  &__scroll {
    position: absolute;
    bottom: rem(48);
    left: 50%;
    transform: translate(-50%, 0);
    width: rem(31);
    height: rem(31);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      bottom: rem(58);
    }

    @media (max-width: $screen-mobile) {
      bottom: rem(48);
    }

    &:hover {
      border-color: #fff;

      .dev-banner__scroll-icon {
        fill: #fff;
        stroke: #fff;
      }
    }
  }
}
