mixin dev-banner()
  .dev-banner
    .dev-banner__content
      +core-logo('dev-banner__logo animation animation--slide-up-opacity')
      +h1('Главное событие', 'dev-banner__title animation animation--slide-up-text')
      +h1('рынка элитной', 'dev-banner__title animation animation--slide-up-text')
      +h1('недвижимости', 'dev-banner__title animation animation--slide-up-text')
      +h1('2018', 'h1--gold dev-banner__year animation animation--slide-up-text')
      a.dev-banner__scroll(href='#dev-visual')
        svg.dev-banner__scroll-icon
          use(xlink:href=require('../assets/svg/scroll.svg').url)
