mixin dev-nav(className, active)
  .dev-nav.main.animation.animation--slide-up(class=className)
    a.dev-nav__item(class=(active == 0 ? 'dev-nav__item--active' : ''), href='/build.html')
      p.h4.dev-nav__item-text.animation.animation--slide-up-text.animation--stagger
        span.dev-nav__item-text--number 01.
        span  ход строительства
    a.dev-nav__item(class=(active == 1 ? 'dev-nav__item--active' : ''), href='/docs.html')
      p.h4.dev-nav__item-text.animation.animation--slide-up-text.animation--stagger
        span.dev-nav__item-text--number 02.
        span  проектная декларация        
    a.dev-nav__item(class=(active == 2 ? 'dev-nav__item--active' : ''), href='/partners.html')
      p.h4.dev-nav__item-text.animation.animation--slide-up-text.animation--stagger
        span.dev-nav__item-text--number 03.
        span  участники проекта
