mixin dev-navd(className)
  .dev-nav.main.animation.animation--slide-up(class=className)
    a.dev-nav__item(href='/build.html') 
      p.h4.dev-nav__item-text.animation.animation--slide-up-text.animation--stagger
        span.dev-nav__item-text--number 01.
        span  ход строительства
    a.dev-nav__item.dev-nav__item--active(href='/') 
      p.h4.dev-nav__item-text
        svg.dev-nav__back
          use(xlink:href=require('../assets/svg/arrow_left.svg').url)
        span.animation.animation--slide-up-text  вернуться на главную
    a.dev-nav__item(href='/partners.html')
      p.h4.dev-nav__item-text.animation.animation--slide-up-text.animation--stagger
        span.dev-nav__item-text--number 03.
        span  участники проекта      
