.dev-nav {
  display: flex;
  height: rem(55);

  @media (max-width: $screen-tablet-max) {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    padding: rem(12) 0;
    border: solid 5px rgba(80, 80, 80, 0.38);
  }

  @media (max-width: $screen-mobile) {
    padding: rem(14) 0;
    border: solid 3px rgba(80, 80, 80, 0.38);
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 33.3333%;
    height: 100%;

    @media (max-width: $screen-tablet-max) {
      width: auto;
      height: auto;
    }

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(4);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @media (min-width: 1024px) {
      border-top: solid 5px rgba(80, 80, 80, 0.38);
      border-bottom: solid 5px rgba(80, 80, 80, 0.38);

      &--active {
        border-color: #fff;

        &:first-of-type,
        &:last-of-type {
          border-color: #fff;
        }
      }

      &:hover {
        border-color: #fff;
      }

      &:first-of-type {
        border-left: solid 5px rgba(80, 80, 80, 0.38);
      }

      &:last-of-type {
        border-right: solid 5px rgba(80, 80, 80, 0.38);
      }

      &:first-of-type,
      &:last-of-type {
        &:hover {
          border-color: #fff;
        }
      }
    }
  }

  &__back {
    display: block;
    width: rem(20);
    height: rem(5);
    margin-right: rem(6);
    fill: #d4c2a7;
  }

  &__item-text {
    display: flex;
    align-items: baseline;
    font-size: rem(18);
    color: #fff;

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      font-size: rem(26);
      line-height: rem(39);
    }

    @media (max-width: $screen-mobile) {
      font-size: rem(18);
      line-height: rem(28);
    }

    &--number {
      margin-right: rem(6);
      font-size: rem(14);
      color: #d4c2a7;

      @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
        font-size: rem(20);
        line-height: rem(39);
      }

      @media (max-width: $screen-mobile) {
        font-size: rem(14);
        line-height: rem(28);
      }
    }
  }
}
