mixin dev-visual()
  .dev-visual(id='dev-visual')
    .dev-visual__particles-wrap
      +h2('Безупречный адрес', 'dev-visual__particles-title animation animation--slide-up-text')
      .dev-visual__particles
        .dev-visual__logo
          svg.visual__logo-icon
            use(xlink:href=require('../assets/svg/logo.svg').url)
          div(id='container', style='position:absolute;top:0;left:0;')
    .dev-visual__view
      +h2('Один в своем роде', 'dev-visual__view-title animation animation--slide-up-text')
      img.dev-visual__view-img(src=require('../assets/images/visual_banner.png'), alt='visual-banner')
      .dev-visual__view-img-m
    .dev-visual__background
