.dev-visual {
  position: relative;
  margin-top: rem(99.1);

  @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    margin-top: rem(138);
  }

  @media (max-width: $screen-mobile) {
    margin-top: rem(65);
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(farthest-side ellipse at bottom left, #2e485f, #040c15);
    z-index: 0;
  }

  &__particles-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    z-index: 1;

    @media (max-width: $screen-mobile) {
      padding-bottom: rem(156);
    }
  }

  &__particles-title {
    margin-bottom: 100px;
    text-align: center;

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(64);
    }
  }

  &__logo {
    width: rem(983);
    height: rem(318);
    overflow: hidden;
    position: relative;

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      width: rem(698);
      height: rem(226);
    }

    @media (max-width: $screen-mobile) {
      width: rem(300);
      height: rem(97);
    }
  }

  &__view {
    position: relative;
    z-index: 1;
  }

  &__view-title {
    margin-bottom: rem(40);
    text-align: center;

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      margin-bottom: rem(5);
    }

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(56);
    }
  }

  &__view-img {
    display: block;
    width: 100%;

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      display: none;
    }
  }

  &__view-img-m {
    width: 100%;
    height: rem(976);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 19.7% 0;
    background-image: url(./assets/images/visual_banner.png);

    @media (min-width: 1024px) {
      display: none;
    }

    @media (max-width: $screen-mobile) {
      display: none;
    }
  }
}
