.h1 {
  font-size: rem(48);
  line-height: 1.06;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;

  @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    font-size: rem(38);
  }

  @media (max-width: $screen-mobile) {
    font-size: rem(18);
    line-height: 1.11;
  }

  &--gold {
    color: #d4c2a7;
  }
}
