.text {
  font-family: "Roboto", "BodoniC", sans-serif;
  font-size: rem(14);
  line-height: 1.86;
  letter-spacing: 0.1px;
  color: #fff;

  @media (max-width: $screen-mobile) {
    font-size: rem(12);
    line-height: 1.5;
  }
}
