* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @media (min-width: 1579px) and (max-width: 1899px) {
    font-size: 17.5px;
  }

  @media (min-width: 1900px) {
    font-size: 23px;
  }
}

body {
  font-family: "BodoniC", sans-serif;
  background: #040c15;
}

a {
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: 0.4s ease;

  div {
    transition: 0.4s ease;
  }
}

button,
input,
textarea,
select {
  border: 0;
  outline: 0;
  transition: 0.4s ease;
  cursor: pointer;
}

svg {
  transition: 0.4s ease;
  height: 100%;
  width: 100%;
}

@function rem($size) {
  $remsize: $size / 16;

  @return #{$remsize}rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.main {
  max-width: rem(1208);
  margin: 0 auto;

  // @media (min-width: 1900px) {
  //   max-width: rem(1700);
  // }
  //
  @media (min-width: $screen-xl-min) and (max-width: $screen-xl-max) {
    max-width: rem(1168);
  }
  //
  @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
    max-width: rem(948);
  }
  //
  @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    max-width: rem(680);
  }

  @media (max-width: $screen-mobile) {
    max-width: rem(540);
    width: 87.5%;
  }
}

.animation--slide-up {
  &:not(.animation--stagger) {
    opacity: 0;
    top: 100px;
  }

  &.animation--stagger > * {
    opacity: 0;
    top: 100px;
  }
}

.animation--slide-up-opacity {
  &:not(.animation--stagger) {
    top: 100px;
    opacity: 0;

    & > * {
      opacity: 0;
    }
  }

  &.animation--stagger > * {
    top: 100px;
    opacity: 0;
  }
}

.animation--slide-up-text {
  &:not(.animation--stagger) {
    opacity: 0;
    position: relative;
    left: -100px;
  }

  &.animation--stagger {
    & > * {
      opacity: 0;
      position: relative;
      left: -100px;
    }
  }
}

.animation--slide-right-opacity {
  opacity: 0;
  transform: translate(30px, 0);
}
