@font-face {
  font-family: "BodoniC";
  src:
    url("./assets/fonts/BodoniC.woff") format("woff"),
    url("./assets/fonts/BodoniC.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./assets/fonts/Roboto-Regular.woff") format("woff"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
