mixin dev-partners()
  .dev-partners
    .dev-partners__background(style='background-image:url(' + require('../assets/images/place5_blur.jpg') + ')')
    .dev-partners__content
      +core-logo('dev-partners__logo animation animation--slide-up-opacity')
      +h1('Участники проекта', 'dev-partners__title animation animation--slide-up-text')
      .dev-partners__items.main
        .dev-partners__item.animation.animation--slide-up
          a.dev-partners__img-wrap(href='#')
            img.dev-partners__img(src=require('../assets/images/partners/partners1.png'), alt='properties')
          .dev-partners__description
            +h3('Девелопер проекта', 'h3--gold dev-partners__name')
            +text('«Сбербанк» является крупнейшим банком Российской Федерации. Сбербанк сегодня — это кровеносная система российской…', 'dev-partners__text')
            a.text.dev-partners__link(href='#') Подробнее
        .dev-partners__item.animation.animation--slide-up
          a.dev-partners__img-wrap(href='#')
            img.dev-partners__img(src=require('../assets/images/partners/partners1.png'), alt='properties')
          .dev-partners__description
            +h3('Генеральный подрядчик', 'h3--gold dev-partners__name')
            +text('«Сбербанк» является крупнейшим банком Российской Федерации. Сбербанк сегодня — это кровеносная система российской…', 'dev-partners__text')
            a.text.dev-partners__link(href='#') Подробнее
        .dev-partners__item.animation.animation--slide-up
          a.dev-partners__img-wrap(href='#')
            img.dev-partners__img(src=require('../assets/images/partners/partners2.png'), alt='sber')
          .dev-partners__description
            +h3('Финансовый партнер', 'h3--gold dev-partners__name')
            +text('«Сбербанк» является крупнейшим банком Российской Федерации. Сбербанк сегодня — это кровеносная система российской…', 'dev-partners__text')
            a.text.dev-partners__link(href='#') Подробнее
  +dev-navp('dev-partners__nav')
  +dev-footer()
