.dev-partners {
  position: relative;
  padding-bottom: rem(40);

  @media (max-width: $screen-mobile) {
    padding-bottom: rem(30);
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(920);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: $screen-mobile) {
      height: rem(449);
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(4, 12, 21, 0), #040c15);
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(60);
    padding-bottom: rem(30);
    z-index: 1;

    @media (max-width: $screen-mobile) {
      padding-top: rem(40);
      padding-bottom: rem(25);
    }
  }

  &__logo {
    margin-bottom: rem(80);

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(32);
    }
  }

  &__title {
    margin-bottom: rem(80);

    @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
      font-size: rem(48);
    }

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(40);
    }
  }

  &__items {
    @media (min-width: $screen-tablet-min) {
      width: rem(600);
    }
  }

  &__item {
    width: 100%;
    margin-bottom: rem(45);
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;

    @media (max-width: $screen-mobile) {
      flex-direction: column;
      margin-bottom: rem(30);
    }
  }

  &__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(219);
    height: rem(170);
    border: solid 5px rgba(255, 255, 255, 0.38);

    @media (max-width: $screen-mobile) {
      width: 100%;
      height: rem(124);
      border-width: 3px;
      margin-bottom: rem(22);
    }
  }

  &__img {
    display: block;
    width: 80%;
    height: auto;
  }

  &__description {
    width: rem(340);

    @media (max-width: $screen-mobile) {
      width: 100%;
      padding-right: 9%;
    }
  }

  &__name {
    margin-bottom: rem(14);

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(6);
    }
  }

  &__text {
    max-height: rem(75);
    margin-bottom: rem(26);
    overflow: hidden;

    @media (max-width: $screen-mobile) {
      max-height: inherit;
      margin-bottom: rem(10);
    }
  }

  &__link {
    display: inline-block;
    font-family: "BodoniC", "Roboto", sans-serif;
    letter-spacing: 0.5px;
    color: #d4c2a7;
  }

  &__nav {
    position: relative;
    z-index: 1;
    margin-bottom: rem(42);

    @media (max-width: $screen-mobile) {
      margin-bottom: rem(21);
    }
  }
}
